<!DOCTYPE html>
<html>
  <head>
    <title>Courses</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/pretty.css">

    <!-- Dependencies -->
    <!-- <script type="text/javascript" src="node_modules/chart.js/dist/Chart.bundle.js"></script> -->
    <!-- build:[src]:dev scripts/ -->
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-cookies/angular-cookies.min.js"></script>
    <!-- /build  -->
    <!-- <script type="text/javascript" src="node_modules/angular-chart.js/angular-chart.js"></script> -->

    <!-- My scripts!! -->
    <!-- build:js:dev js/app.js --><!-- /build -->
    <!-- build:js:dev js/controller.js --><!-- /build -->
    <!-- build:js:dev js/directive.js --><!-- /build -->
    <!-- build:js:dev js/factory.js --><!-- /build -->
    <!-- build:js:dev js/filter.js --><!-- /build -->
    <!-- build:js:dev js/jquery.js --><!-- /build -->
    <!-- build:js:dev js/service.js --><!-- /build -->

    <!-- build:remove:dev,prod -->
    <script type="text/javascript" src="app/app.module.js"></script>
    <script type="text/javascript" src="app/course-controller.controller.js"></script>
    <script type="text/javascript" src="app/course-counter.factory.js"></script>
    <script type="text/javascript" src="app/download-courses.service.js"></script>
    <script type="text/javascript" src="app/courses-viewer.directive.js"></script>
    <script type="text/javascript" src="app/coursesFilter.filter.js"></script>
    <!-- /build -->
  </head>
  <body ng-app="myApp">
    <div ng-controller= "CourseController">
      <div id="course-information"></div>
      <label>Number of Versions: </label><select ng-model="maxVersions" ng-options="v as v.number for v in versionNumbers">
        <option val=""></option>
      </select>
      <label>Displaying Version: </label><select ng-model="displayVersion" ng-options="v as v.letter for v in versionNumbers track by v.number" ng-change="updateView()">
        <option val=""></option>
      </select>
      <label>Semester: </label><select ng-model="semester">
        <option value="201702">Spring 2017</option>
        <option value="201609" selected="">Fall 2016</option>
      </select>
      <label>Department: </label><select ng-model="department" ng-change="search(department.code)" ng-options="dept.name for dept in departments">
        <option val=""></option>
        <!-- <option ng-repeat="dept in departments" val="{{dept.code}}">{{dept.name}}</option> -->
      </select><br>
      <label>Include Departments: </label><select multiple ng-model="multipleDepts" ng-change="multiplesChanged(multipleDepts)" ng-options="dept.name for dept in departments">
        <option val=""></option>
      </select>{{multipleDepts}}<br>
      <input type="text" ng-model="filterString"></input>
      <button type="button" name="search" ng-click="search(filterString)">Search</button><br>
      <button id="clearSearchButton" type="button" name="clear-search" ng-click="clearSearch()">Clear Search</button><br>

        <courses-viewer courses="filteredCourses" version="displayVersion.letter">
          <!-- build:remove:prod -->
          <button type="button" name="button" ng-click="download()">Download</button>
          <button type="button" name="button" ng-click="cancelInterval()">Cancel Refresh</button>
          <!-- /build -->
          <!-- build:remove:prod -->
          <button type="button" name="post" ng-click="postData()">Save Data</button>
          <!-- /build -->
          <button type="button" name="deselect" ng-click="deselectAll()">Deselect All</button>
          <!-- build:remove:prod -->
          <button type="button" name="redownload" ng-click="redownload()">Re-Download</button>
          <button type="button" name="debug" ng-click="debug()">Debug</button>
          <!-- /build -->
          <br>
          <wellesley-course ng-repeat="course in filteredCourses" course="course">
          </wellesley-course>
        </courses-viewer>

        <course-schedule courses="courses" pre-selections="previouslySelectedCourses[displayVersion.letter]" version="displayVersion.letter">
        </course-schedule>

      <!-- build:remove:dev,prod -->
      <!-- <div class="classes">
        {{courses | json}}
      </div> -->

      <!-- <canvas id="myChart1" class="chart chart-bar" chart-data="data.data" chart-labels="data.labels" chart-series="data.series" chart-options="data.options" width="600px" height="400px"></canvas>
      <canvas id="myChart2" class="chart chart-bar" chart-data="data1.data" chart-labels="data1.labels" chart-series="data1.series" chart-options="data1.options" width="600px" height="400px"></canvas>
      <canvas id="myChart2" class="chart chart-line" width="600px" height="400px"></canvas> -->
      <!--<canvas id="myChart" width="600" height="400"></canvas>
       <script>
        var myData = {
          labels: ["January", "February", "March", "April", "May", "June", "July"],
          datasets: [
            {
              label: "My First dataset",
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1,
              data: [65, 59, 80, 81, 56, 55, 40],
            }
          ]
        };
        var ctx = $("#myChart");
        var myBarChart = new Chart(ctx, {
          type: 'bar',
          data: myData,
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero:true
                }
              }]
            }
          }
        });
      </script> -->
      <!-- <span>{{data | json}}</span> -->
      <!-- <div id="tableHolder">
        <table>
          <thead>
            <th>
              Course Title
            </th>
            <th>
              Professor
            </th>
            <th>
              CRN
            </th>
            <th>
              Credit Hours
            </th>
            <th>
              Current Enrollment
            </th>
            <th>
              Seats Available
            </th>
            <th>
              Max Enrollment
            </th>
            <th>
              Meeting Times
            </th>
            <th>
              Days
            </th>
            <th>
              Distributions
            </th>
          </thead>
          <tr ng-repeat="class in courses">
            <td class="title">
              {{class.title}}
            </td>
            <td>
              {{class.professor}}
            </td>
            <td>
              {{class.regNum}}
            </td>
            <td>
              {{class.credit}}
            </td>
            <td>
              {{class.enrollment}}
            </td>
            <td>
              {{class.available}}
            </td>
            <td>
              {{class.max}}
            </td>
            <td class="time">
              <div ng-repeat="t in class.time1 track by $index">
                {{class.time1[$index]}} - {{class.time2[$index]}}
              </div>
            </td>
            <td>
              <div ng-repeat="d in class.day track by $index">
                {{class.day[$index]}}
              </div>
            </td>
            <td>
              {{class.distr}}
            </td>
          </tr>
        </table>
      </div> -->
      <!-- /build -->
    </div>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  </body>
</html>
