<div class="coursesSchedule">
  <button ng-click="schedule()" value="Refresh Schedule">Schedule</button><br>
  <span class="courses-weekday">Monday</span>
  <span class="courses-weekday">Tuesday</span>
  <span class="courses-weekday">Wednesday</span>
  <span class="courses-weekday">Thursday</span>
  <span class="courses-weekday">Friday</span><br>
  <div class="weekdays">
    <div id="monday" class="courses-weekday-column">

    </div>
    <div id="tuesday" class="courses-weekday-column">

    </div>
    <div id="wednesday" class="courses-weekday-column">

    </div>
    <div id="thursday" class="courses-weekday-column">

    </div>
    <div id="friday" class="courses-weekday-column">

    </div>
    <!-- <div class="courses-weekday-column">

    </div> -->
  </div>
  <div class="selections">
    <table>
      <thead>
        <th ng-repeat="attribute in courseAttributes">{{attribute}}</th>
      </thead>
      <tbody>
        <tr ng-repeat="course in selectedCourses">
          <td>
            {{course.regNum}}
          </td>
          <td>
            {{course.dept}}
          </td>
          <td>
            {{course.dNum}}
          </td>
          <td>
            {{course.titleString}}
          </td>
          <td>
            {{course.day | json}}
          </td>
          <td>
            {{course.time1 | json}}
          </td>
          <td>
            {{course.time2 | json}}
          </td>
          <td>
            {{course.building}}
          </td>
          <td>
            {{course.room}}
          </td>
          <td>
            {{course.credit}}
          </td>
          <td>
            {{course.available}}
          </td>
          <td>
            {{course.distributions}}
          </td>
        </tr>
      </tbody>
      <tfoot>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
          {{credits}}
        </td>
        <td>

        </td>
        <td>

        </td>
      </tfoot>
    </table>
  </div>
  <!-- <div>{{selectedCourses | json}}</div> -->
</div>
